@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');


body{
    background-color: #fdfbf4;
}

html , body{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    background-color: #bf1e2e;
    padding: 20px
}

header .pfp{
    height: 412px;
    width: 730px;
    background-image: url('./../img/header.jpg');
    display: block;
    margin: auto;
    margin-bottom:-20px;
}

header h1, h2, p, h3{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fdfbf4;
    font-size: 50px;
    margin:auto;
}

h2, p, h3{
    color: #bf1e2e;
    font-size: 190%;
    text-align: center;
    margin-top: 20px;
}
p{
    font-size: 120%;
    color: black;
}
h3{
    margin-top: 40px;
}
img{
    width: 150px;
    height: 150px;
    margin-top: 18px;
    border-radius: 50%;

}