@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');


body{
    background-color: #fdfbf4;
}

html , body{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    background-color: #758278;
    padding: 20px
}

header .pfp{
    width: 300px;
    height: 300px;
    border: 10px solid #fdfbf4;
    border-radius: 50%;
    background-image: url('./../img/header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

header h1{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fdfbf4;
    font-size: 50px;
    margin: 0px 0 20px 0;
}